  <div class="leaderboard-container text-center">
      <h1>Leaderboard</h1>
      <table class="table table-hover">
        <thead class="leaderboard-head1">
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Game Time</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="leaderboard-body1">
          <tr *ngFor="let player of players_list; let i = index" class="leaderboard-row">
            <td>{{i+1}}</td>
            <td>{{player.username}}</td>
            <td>{{player.gametime}}</td>
            <td><button class="btn btn-success" (click)="openEditForm(player._id.$oid, player)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="openDeleteForm(player._id.$oid)">Delete</button></td>
          </tr>
        </tbody>
      </table>
  </div>

<div class="modal fade" id="DeleteForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">          
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <div class="modal-body">          
        </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDeleteForm()">Close</button>
        <button type="button" (click)="deleteEntry()" class="btn btn-danger">Confirm delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditForm" tabindex="-1" role="dialog" aria-labelledby="scoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="scoreModalLabel">Submit Score</h5>
          <button type="button" (click)="closeEditForm()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
          <form (ngSubmit)="editEntry()" id="edit-form">
              <div class="form-group">
                  <label for="playerName">Player Name:</label>
                  <input type="text" class="form-control" id="playerName" name="playerName" [(ngModel)]="active_player_name" [value] = "active_player_name">    
              </div>
              <div class="form-group">
                  <label for="timeString">Time:</label>
                  <input type="text" class="form-control" id="timeString" name="timeString" [(ngModel)]="active_player_time" [value]="active_player_time">
              </div>
          </form>
          </div>
          <div class="modal-footer">
          <button type="submit" (click)="closeEditForm()" form="edit-form" class="btn btn-primary" data-dismiss="modal">Edit score</button>
          </div>
      </div>
    </div>
</div>

