<div class="leaderboard-container">

    <h1>Leaderboard</h1>
    <table>
        <thead class="leaderboard-head">
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Game Time</th>
          </tr>
        </thead>
        <tbody class="leaderboard-body">
          <tr *ngFor="let player of players_list; let i = index" class="leaderboard-row">
            <td>{{i+1}}</td>
            <td>{{player.username}}</td>
            <td>{{player.gametime}}</td>
          </tr>
        </tbody>
      </table>

    <button class="btn btn-primary" (click)="closeLeaderboard()">Close</button>
</div>
