<!-- <input type="text" (keypress)="onKeyPress ($event)"  ng-model="field">
<span id="text"></span>
<div *ngIf=" a > 5">{{name}}</div> -->
<div class = "game"  (keypress)="onKeyPress ($event)">
    <div id="airport">
        <div class="start-game" *ngIf="gameplay == false">
            <h1 class="start-heading" >
                Do you want to start the game?
            </h1>
            <p class="start-text">
                Playing on map <span id="mapnumber">{{map.mapnumber}}</span>
            </p>
            <button id="start-button" (click)="StartGame()" ng-model="button">Start game</button>
        </div>
        <div class="points">
            <span id="ringcount">
                0
            </span>
        </div>
    </div>
    <div *ngIf="generate_properties">
        <div *ngFor="let row of map.selectedMap; index as i;">
            <div *ngFor="let item of row.split(''); index as j;">
                <div *ngIf=" item == '#'" src="assets/img/enemy.png" [ngStyle]="{'top.%': i * 12.5, 'left.%' : j*5}" class="enemy-area">
                    <img src="assets/img/enemy.png" class="enemy"/>
                </div>
                <img *ngIf=" item == '$'" class='ring' src='assets/img/ring.gif' [ngStyle]="{'top.%': i * 12.5, 'left.%' : j*5}"/>
            </div>
        </div>
    </div>

    <!-- <div class="map-div">
        Playing on map number <span id="mapnumber">{{mapnumber}}</span>

    </div> -->
    <div class="stopwatch">
        {{minutes}}:{{seconds}}:{{miliseconds}}
    </div>

    <!-- <button class="refresh" onClick="window.location.reload();">Restart game</button> -->
    <div id="plane" [ngClass]="getPlaneDirectionClass()"></div>
</div>
