
#plane{
    position: absolute;
    top: 80%;
    left: 30%;
    height: 4vw;
    width: fit-content;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    aspect-ratio: 10/4;
    z-index: 2;
}

.my-game {
    width: 100%;
}

.plane-right {
    background-image: url("/assets/img/plane-right.png");
}

.plane-left {
    background-image: url("/assets/img/plane-left.png");
}

body{
    caret-color: transparent;
    margin: 0px;
}

.enemy-area{
    position: absolute;
    width: 8vw;
    height: 8px;}

.enemy{
    width: 100%;
    transform: scaleX(-1);
}

.fail{
    width: 250%;
    position: absolute;
    z-index: 2;
    top: -100px;
    left: -70px;
}

.ring{
    
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
}

.points{
    position: absolute;
    font-weight: bold;
    font-style: italic;
    font-size: 60vw;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    color: rgb(162, 161, 161);
    opacity: 0.3;
    width: max-content;
    height: max-content;
    text-align: center;
    justify-content: center;
}

.refresh{
    opacity: 0.4;
    width: 100%;
    background-color: #e7e7e7; 
    color: rgb(0, 0, 0);
    z-index: 4;
}



.stopwatch {
    position: absolute;
    background-color: tan;
    opacity: 0.4;
    border: 0.5vw solid rgb(190, 124, 37);
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}



.container-menu {
    background-color: tan;
    border: 0.5vw solid rgb(190, 124, 37);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20rem;
    width: 30rem;
    transform: translate(-50%, -50%);
    padding: 3vw;
    opacity: 0.8;
    z-index: 8;
    border-radius: 20px;
}

.container-menu h1 {
    font-size: 3rem;
    text-align: center;
    top: 15%;
    left: 50%;
    width: 95%;
    height: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container-menu h4 {
    top: 35%;
    left: 50%;
    width: 80%;
    font-size: 1.6rem;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container-menu p{
    top: 50%;
    left: 50%;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container-menu button{
    position: absolute;
    top: 85%;
    background-color: orange;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    padding: 0.5vw;
    width : 12.5rem;
    font-size: 1.75rem;
    border-radius: 15px;
    border: 0.15rem solid rgb(190, 124, 37);
}

#refresh-button {
    left :25%;
}

#submit-button {
    left: 75%;
}

#form-container {
    position: absolute;
    background-color: aliceblue;
    border: #963939 1px solid;
    
}

.game_lose_component {
    background-color: rgb(210, 151, 140);
    border: 0.5vw solid rgb(190, 55, 37);
}
.game_win_component{
    background-color: tan;
    border: 0.5vw solid rgb(190, 124, 37);
    background-image: url("/assets/img/win1.gif");
    background-repeat: repeat;
}

.game_win_component h1 {
    font-size: 4rem;
}

.game_win_component h4{
    top: 32.5%;
    font-size: 2.1rem;

}

.game_win_component p {
    top: 60%;
    font-size: 1.8rem;
}

.game_lose_component h1{
    font-size: 5rem;
}

.game_lose_component h4{
    top: 50%;
    font-size: 3rem;
}

.game_lose_component button {
    left: 50%;
    font-size: 2.5rem;
    width: 20rem;
    border-radius: 15px;
    background-color: rgb(216, 0, 0);
    border: 1px solid rgb(84, 3, 3);
    color: black;
}

.start-game h4{
    top: 50%;
}

.start-game button {
    font-size: 2.5rem;
    left: 50%;
    white-space: nowrap;
    top: 80%;
    width: 15rem;
}